# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual Environment
venv/
.venv/
env/
.env/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# WebDriver
chromedriver.exe
*.log

# OS
.DS_Store
Thumbs.db
